<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448333406822-bhs10ju8piablbfq24tpjflr8nli9lmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448333406822-bhs10ju8piablbfq24tpjflr8nli9lmc</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQnUuupqnNMlORWI_ERQiR57sAfqQzto</string>
	<key>GCM_SENDER_ID</key>
	<string>448333406822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavors.dev</string>
	<key>PROJECT_ID</key>
	<string>flavours-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flavours-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448333406822:ios:f413b3d29c8332f4d3c3a7</string>
</dict>
</plist>